* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoapp {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('./assets/images/bg.svg') no-repeat center;
    background-size: cover;

    h1 {
        font-family: Helvetica, sans-serif;
        font-size: 84px;
        line-height: 1.2;
        letter-spacing: -8px;
        margin-top: 0;
        color: #8820fe;
        margin-top: -250px;
        transition: all .2s ease-in-out
    }

    h1:hover {
        color: #9d48ff;
        cursor: pointer;
        scale: 1.1;

    }

}