/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  transition: all 0.5s ease;
}

html {
  font: 62.5%;
}
h1,
h2 {
  margin-bottom: 0;
}
h1 {
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
  color: #ffd700;
  transition: all 0.2s ease-in-out;
}

#list-heading {
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  color: #008080;
}

ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
.input-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5em;
  width: 80%;
  margin-left: 10%;
}
.input-container > input {
  border-color: #fff;
  border: none;
  margin-top: 1.5rem;
  height: 45px;
  padding: 1rem;
  box-shadow: 5px 3px 35px -2px #8820fe;
  border-radius: 9px;
  font-family: "Cormorant Garamond", sans-serif;
  text-transform: capitalize;
  font-size: 21px;
  line-height: 1.2;
  transition: all 0.5s ease-in-out;
}

.input-container > input:focus {
  outline-style: none;
  box-shadow: 5px 3px 35px -2px #8820fe;
}

.input-container > input::placeholder {
  color: #8820fe;
}

.input-container > .btn__primary {
  font-family: "Cormorant Garamond", sans-serif;
  color: #fff;
  border: none;
  background: #008080;
  border-radius: 9px;
  font-size: 21px;
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  height: 45px;
  margin-top: 1.5rem;
}

.input-container > button:hover {
  cursor: pointer;
}

button,
input {
  overflow: visible;
}

body {
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  margin-top: 0;
  background: url("./assets/images/bg.svg") no-repeat fixed center;
  background-size: cover;
  color: #181818;
}

/*END RESETS*/
/* GLOBAL STYLES */

.btn {
  padding: 0.8rem 1rem 0.7rem;
  cursor: pointer;
  text-transform: capitalize;
}
.toggle-btn {
  margin: 1rem;
  margin-top: 2rem;
  height: 45px;
  width: 100px;
  color: orange;
  font-weight: 600;
  background-color: transparent;
  font-size: 21px;
  font-family: "Cormorant Garamond", sans-serif;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.toggle-btn:hover {
  box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.5);
  scale: 1.1;
}

.toggle-btn[aria-pressed="true"] {
  background-color: #008080;
  color: #fff;
  font-weight: 600;
}

.toggle-btn[aria-pressed="true"]:hover {
  box-shadow: 0 20px 50px -10px #008080;
}
.btn__danger {
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 600;
}

#edit-button {
  color: salmon;
  background-color: transparent;
  border: 1px solid salmon;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 600;
}

.todo-edit {
  color: #fff;
  background-color: #008080;
  border: none;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 600;
}

.todo-cancel {
  color: #008080;
  background-color: transparent;
  border: 1px solid #008080;
  border-radius: 12px;
  font-size: 21px;
  font-weight: 600;
}
.btn__filter {
  /* border-color: lightgrey; */
  background-color: transparent;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.3rem;
}
.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}

[class*="stack"] > * {
  margin-top: 0;
  margin-bottom: 0;
}
.stack-small > * + * {
  margin-top: 1.25rem;
}
.stack-large > * + * {
  margin-top: 2.5rem;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  }
  .stack-large > * + * {
    margin-top: 2.8rem;
  }
}
.stack-exception {
  margin-top: 1.2rem;
}
/* END GLOBAL STYLES */
.todoapp {
  background: transparent;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 320px) {
  .todoapp {
    /* padding: 4rem; */
  }
}
.todoapp > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
}
h1 {
  /* margin-top: 2000px; */
  font-size: 52px;
  letter-spacing: -4px;
}
.input-container {
  min-width: 280px;
  margin: 0 auto;
}
.filters {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
#list-heading {
  font-size: 18px;
  font-weight: 300;
  padding: 1.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}
.label__lg {
  font-size: 18px;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 0.2rem;
  text-align: center;
}
.input__lg {
  padding: 2rem;
  border: 2px solid #000;
}

.btn__primary {
  font-size: 18px;
  font-weight: 600;
  padding: 0.8rem;
  margin-bottom: 0.2rem;
  text-align: center;
  border: none;
  border-radius: 12px;
  background-color: #008080;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

::placeholder {
  font-size: 18px;
}

[class*="__lg"] {
  display: inline-block;
  width: 100%;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 2rem;
}
@media screen and (min-width: 620px) {
  h1 {
    font-size: 78px;
    letter-spacing: -8px;
  }

  h1:hover {
    opacity: 0.6;
    cursor: pointer;
    scale: 0.9;
  }

  h2 {
    font-size: 22px;
  }
}
/* Todo item styles */
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo > * {
  flex: 0 0 100%;
}
.todo-text {
  margin-top: 1rem;
  width: 100%;
  min-height: 3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  border: none;
  font-size: 21px;
  text-transform: capitalize;
  box-shadow: 5px 3px 35px -2px #8820fe;
}
.todo-text:focus {
  outline: none;
}
/* CHECKBOX STYLES */
.c-cb {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: capitalize;
  display: block;
  position: relative;
  min-height: 44px;
  padding-left: 40px;
  clear: left;
}
.c-cb > label::before,
.c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
.c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}
.c-cb > label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.c-cb > label::before {
  content: "";
  position: absolute;
  border: 2px solid orange;
  background: transparent;
}

.c-cb > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}
.c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.todo-label {
  font-size: 22px;
  color: red;
  text-transform: capitalize;
}
